.vscode
.git
bin/
pkg/
src/
vscode.sh
coverage.txt
__debug_bin
.templates/
.telegraf/

info.txt
prometheus.telegraf.quality.query
prometheus.telegraf.labels
prometheus.vars
prometheus.disabled
cmdb.json
_cmdb.json
haproxy.json
ha-api-metrics.json
ha-aws.json
ha*.json
discovery.json
hosts.json