.vscode
.git
.run/
bin/
pkg/
src/
vscode.sh
coverage.txt
__debug_bin
.templates/
.telegraf/
.cmdb/
.temp/
.idea/
output/
private/

info.txt
signal.telegraf.quality.query
signal.telegraf.tags
signal.vars
signal.disabled
dns.telegraf.template
http.telegraf.template
http.telegraf.path
tcp.telegraf.template
cert.telegraf.template
cmdb.json
_cmdb.json
cmdb.yml
haproxy.json
ha-api-metrics.json
ha-aws.json
ha*.json
discovery.json
hosts.json
ips.json
pubsub.json
catalog.json
application.tpl
signal.disabled.tpl
signal.telegraf.quality.query.tpl
signal.telegraf.tags.tpl
signal.vars.tpl
pubsub-catalog.json
.assets
.pubsub
processor.tpl
_signal.telegraf.tags copy.tpl
_signal.vars copy.tpl